@CHARSET "UTF-8";
body {
	background-color:#030303; 
	color:#fdffc1;
	background-image:url('../images/backgroundGradient.png');
	background-repeat:repeat-y; 
	margin:0; 
	padding:0; 
/*	overflow:hidden;*/ 
	font-family:arial,sans-serif;
	font-size:16px;
	}
	section {
	width:980px;
	margin-left: 40px;
	}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.clearleft {
	clear:left;
}
.clearright {
	clear:right;
}
.clearboth {
	clear:both;
}
.panel {
	opacity:0;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
	position:absolute;
	margin-top:50px;
}
.panel:target{
	opacity: 1;
/*	display:block; */
}
#website_setup:target ~ #header #navigation #link-home {
	color:#000000;
}
section {
	margin-top:000px;
	margin-left: 40px; width:800px;
}